
@{
    ViewBag.Title = "SpecialistNearby";
    Layout = "~/Views/Shared/PatientLayout.cshtml";
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.30">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
@section Scripts
{
<script type="text/javascript">
    function ajaxSearchUpdate() {
        var serviceURL = '@Url.Action("SpecialistNearby","Patient")';
        var postalCode = $("#postalCode").val();
        var searchText = document.getElementById("#searchText");
        var specialist = $("#specialist").val();
        var state = $("#state").val();

        @*var data = '@Html.Raw(Json.Encode(Model.SpecialistNearby))';*@
        var data = JSON.stringify({ searchText: searchText, specialist: specialist, state: state, postalCode: postalCode });

        $.ajax({
            type: "POST",
            cache: false ,
            url: serviceURL,
            data: data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function successFunc(result) {
                $('.container').show();

                var trHTML = '';
                var accId = @Html.Raw(Json.Encode(Model.AccId));

                if (result.ResultTable.length == 0) {
                    trHTML += '<tr><td colspan="8" style="text-align:center;color:red;">' + 'No specialist with any requirements above found. Please try again.' + '</td></tr>';
                } else {
                    $.each(result.ResultTable, function (i, item) {
                        trHTML += '<tr><td><a href="' + '@Url.Action("SpecialistProfile","Patient")' + '?specialistId=' + item.AccId + '&accId=' + accId + '" target="_blank"><p>' + item.SpecialistName + '</p></a></td><td><p>' + item.SpecialistType + '</p></td><td><p>' + item.CompanyName + '</p></td><td><p>' + item.CompanyAddressLine1 + '</p></td><td><p>' + item.CompanyPhoneNumber + '</p></td><td><p>' + item.PostalCode + '</p></td><td><p>' + item.City + '</p></td><td><p>' + item.State + '</p></td></tr>';
                    });
                }

                document.getElementById("content").innerHTML = trHTML;

                //$('#table').append(trHTML);
                //$('.container').html(result);
                //document.getElementsByClassName("container").style.visibility = 'visible';
                //document.getElementById("#result").style.display = 'block';
            },
            error: function errorFunc() {
                //document.getElementById("#result").style.display = 'none';
                windows.alert("Somethings wrong...Contact admin for further assistance.");
            }
        });
    }


    $(document).ready(function () {
        $('.container').hide();
    });

</script>
}

<style>
    body {
        background-color: rgb(79,190,197);
    }

    /* Body styling */
    /* Frame styling */
    .jumbotron {
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
        background-color: white;
    }


    /* Styling for Back Button */
    .backButton {
        text-align: right;
        text-decoration: none !important;
        color: inherit !important;
        border-radius: 100px;
        font-size: 75px;
        position: static;
        /*margin: 10px;*/
        /*padding: 12px 0;*/
    }

        .backButton:hover {
            background-color: white;
            text-decoration: none !important;
            color: #18a1e5 !important;
        }

    .input {
        flex: 1;
    }

    th{
        text-align:center;
    }
</style>

@model FYP.Entities.ViewModel.PatientBaseViewModel

<div class="jumbotron">
    <div class="row">
        <div><h2 style="text-align:center">-- <b>Specialist Nearby</b> --</h2></div>
    </div>

    <br />

    <div class="row">
        <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3"><p>Specialist Name : </p></div>
        <div class="col-5 col-xs-5 col-sm-5 col-md-5 col-lg-5 input"><p>@Html.TextBoxFor(m => m.SpecialistNearby.SearchText, new { id = "searchText", @value = Model.SpecialistNearby.SearchText })</p></div>
        <div class="col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3"><p2>@Html.ValidationMessageFor(m => m.SpecialistNearby.SearchText)</p2></div>
    </div>

    <div class="row">
        <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3"><p>Specialist : </p></div>
        <div class="col-5 col-xs-5 col-sm-5 col-md-5 col-lg-5 input"><p>@Html.EnumDropDownListFor(m => m.SpecialistNearby.EnumSpecialist, new { @class = "form-control", id = "specialist", @value = Model.SpecialistNearby.EnumSpecialist })</p></div>
        <div class="col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
    </div>

    <div class="row">
        <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3"><p>State : </p></div>
        <div class="col-5 col-xs-5 col-sm-5 col-md-5 col-lg-5 input"><p>@Html.EnumDropDownListFor(m => m.SpecialistNearby.EnumState, new { @class = "form-control", id = "state", @value = Model.SpecialistNearby.EnumState })</p></div>
        <div class="col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
    </div>

    <div class="row">
        <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3"><p>Postal Code : </p></div>
        <div class="col-5 col-xs-5 col-sm-5 col-md-5 col-lg-5 input"><p>@Html.TextBoxFor(m => m.SpecialistNearby.PostalCode, new { id = "postalCode", @value = Model.SpecialistNearby.PostalCode })</p></div>
        <div class="col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3">@Html.ValidationMessageFor(m => m.SpecialistNearby.PostalCode)</div>
    </div>


    <div style="text-align:center;">
        <div type="button" onclick="javascript:ajaxSearchUpdate()" class="btn btn-success" style="font-size:16px;">Search</div>
    </div>

    <br />
    <hr />
    <br />

    <div class="container">
        <table class="table-bordered table-condensed table-hover" style="background-color:lightgray;" id="table">
            <thead>
                <tr>
                    <th><p><b>Name</b></p></th>
                    <th><p><b>Specialist</b></p></th>
                    <th><p><b>Company</b></p></th>
                    <th><p><b>Company Address</b></p></th>
                    <th><p><b>Company Contact Number</b></p></th>
                    <th><p><b>Postal Code</b></p></th>
                    <th><p><b>City</b></p></th>
                    <th><p><b>State</b></p></th>
                </tr>
            </thead>
            <tbody id="content">
                @* Content generated by javascript *@
            </tbody>
        </table>
    </div>
</div>



