
@{
    ViewBag.Title = "Web App For Doctor - Patient Login";
}

<meta name="viewport" content="width=device-width, initial-scale=0.5">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

<style>
    /* Frame styling */
    body {
        background-color: aqua;
    }

    .jumbotron {
        background-color: white;
    }

    /* Styling for Logo Center */
    .menuItem {
        text-align: center;
        padding: 12px 0;
        text-decoration: none !important;
        color: black;
        border-radius: 50px;
        /*color: inherit !important;*/
        /*background-color: lightgray;*/
    }

        .menuItem span {
            font-size: 150px;
        }

    /* Styling for Back Button */
    .backButton {
        text-align: left;
        text-decoration: none !important;
        color: inherit !important;
        border-radius: 50px;
        font-size: 75px;
        position: static;
        /*margin: 10px;*/
        /*padding: 12px 0;*/
    }

    .backButton:hover {
        background-color: white;
        text-decoration: none !important;
        color: #18a1e5 !important;
    }

    input[type=submit] {
        width: auto;
        height: auto;
        font-size: 20px;
    }

    p2 {
        color: red;
        font-size: auto;
    }

    /*.menuItem span,
    .menuItem .fa {
        font-size: 150px;
    }*/
</style>

@model FYP.Entities.LoginInfo

<html>
<body>
    <div class="jumbotron">
        <div class="row">
            <a class="col-lg-3 col-xs-3 backButton" href="@Url.Action("Index", "HomePage")">
                <span class="fa fa-arrow-circle-left"></span>
            </a>
        </div>

        <div class="row">
            <div class="col-lg-4 col-xs-4"></div>
            <div class="col-lg-4 col-xs-4 menuItem">
                <span class="fa fa-users"></span>
            </div>
            <div class="col-lg-4 col-xs-4"></div>
        </div>

        <br />

        @if (TempData["Incorrect"] != String.Empty)
        {
            <div class="row">
                <div class="col-lg-3 col-xs-3"></div>
                <div class="col-lg-6 col-xs-6">
                    <div class="alert alert-danger" role="alert">
                        The email address or password is incorrect!
                    </div>
                </div>
                <div class="col-lg-3 col-xs-3"></div>
            </div>
        }

        @if (TempData["Deleted"] != String.Empty)
        {
            <div class="row">
                <div class="col-lg-3 col-xs-3"></div>
                <div class="col-lg-6 col-xs-6">
                    <div class="alert alert-danger" role="alert">
                        This account is deleted!
                    </div>
                </div>
                <div class="col-lg-3 col-xs-3"></div>
            </div>
        }

        @if (TempData["Pending"] != String.Empty)
        {
            <div class="row">
                <div class="col-lg-3 col-xs-3"></div>
                <div class="col-lg-6 col-xs-6">
                    <div class="alert alert-danger" role="alert">
                        This account is not active yet!
                    </div>
                </div>
                <div class="col-lg-3 col-xs-3"></div>
            </div>
        }

        @using (Html.BeginForm("PatientLogin", "HomePage"))
        {
            <table class="table-responsive table-condensed">
                <tr class="row">
                    <th class="col-lg-3 col-xs-3"></th>
                    <th class="col-lg-3 col-xs-3"><p>@Html.DisplayNameFor(m => m.EmailAddress) : </p></th>
                    <th class="col-lg-3 col-xs-3"><p>@Html.TextBoxFor(m => m.EmailAddress)</p></th>
                    <th class="col-lg-3 col-xs-3"></th>
                </tr>
                <tr class="row">
                    <th class="col-lg-3 col-xs-3"></th>
                    <th class="col-lg-3 col-xs-3"></th>
                    <th class="col-lg-3 col-xs-3"><p2>@Html.ValidationMessageFor(m => m.EmailAddress)</p2></th>
                    <th class="col-lg-3 col-xs-3"></th>
                </tr>

                <tr class="row">
                    <th class="col-lg-3 col-xs-3"></th>
                    <th class="col-lg-3 col-xs-3"><p>@Html.DisplayNameFor(m => m.Password) : </p></th>
                    <th class="col-lg-3 col-xs-3"><p>@Html.PasswordFor(m => m.Password) </p></th>
                    <th class="col-lg-3 col-xs-3"></th>
                </tr>
                <tr class="row">
                    <th class="col-lg-3 col-xs-3"></th>
                    <th class="col-lg-3 col-xs-3"></th>
                    <th class="col-lg-3 col-xs-3"><p2>@Html.ValidationMessageFor(m => m.Password)</p2></th>
                    <th class="col-lg-3 col-xs-3"></th>
                </tr>

                <tr class="row">
                    <th class="col-lg-3 col-xs-3"></th>
                    <th class="col-lg-3 col-xs-3"></th>
                    <th class="col-lg-6 col-xs-6">
                        <input type="submit" value="Login" name="Submit" class="btn btn-success" />
                    </th>
                </tr>
            </table>
        }

        @Html.ActionLink("New user? Register an account here. ", "PatientRegister", null, new { target = "_blank" })
    </div>
</body>
</html>